In [2]:
name = "Zain Ali"

In [3]:
name

'Zain Ali'

In [4]:
first_char = name[0]

In [5]:
first_char

'Z'

In [7]:
slice_name = name[0:4]
slice_name

'Zain'

In [8]:
num_list = "0123456789"

In [9]:
num_list[:]

'0123456789'

In [10]:
num_list[::-1]

'9876543210'

In [11]:
num_list[0:7:2]

'0246'

In [12]:
name

'Zain Ali'

In [15]:
name.upper()

'ZAIN ALI'

In [16]:
name.lower()

'zain ali'

In [17]:
name = "Ali jafri"

In [18]:
name.replace("Ali", "Zain")

'Zain jafri'

In [19]:
name = "Zain, Ali, Jafri"
name

'Zain, Ali, Jafri'

In [21]:
name.split(", ")

['Zain', 'Ali', 'Jafri']

In [22]:
name = "Zain Ali"
name

'Zain Ali'

In [23]:
name.find("Ali")

5

In [1]:
name = "Zain Ali Ali Ali"
name.count("Ali")

3

In [2]:
Tea = "lemon"
quantity = 2
order = "I order {} cups of {} tea"

In [3]:
order.format(quantity, Tea)

'I order 2 cups of lemon tea'

In [4]:
tea = ['lemon', 'ginger', 'masala']

In [5]:
# covert list to string
"".join(tea)

'lemongingermasala'

In [6]:
# covert list to string with space
" ".join(tea)

'lemon ginger masala'

In [1]:
name = "John Wick"

In [2]:
len(name)

9

In [3]:
for letter in name:
    print(letter)

J
o
h
n

W
i
c
k

In [4]:
name = "He said, \"I am learning Python\""

In [5]:
name

'He said, "I am learning Python"'

In [7]:
name = r"Zain Ali \n Jafri" # raw string 
print(name)

Zain Ali \n Jafri

In [8]:
"Zain" in name # check if Zain is in name

True

In [9]:
"Zain" not in name

False

In [10]:
"Zaina" in name

False